@*<!DOCTYPE html>
    <html>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "Performance testing page";
        @model SitemapPerormanceAnalyzer.Models.RequestModel
    }
    <h2>Hello, friend, this is sitemap analyzer</h2>
    <body>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <div>Input url value to find sitemap</div>
            @Html.TextBoxFor(model => model.UrlToGetSitemap)
            @Html.ValidationMessageFor(model => model.UrlToGetSitemap, "", new {@class= "text-danger" })
            <br />
            @Html.DropDownListFor(model => model.PageSize, new List<SelectListItem>
            {
                new SelectListItem{Text = "10", Value = "10"},
                new SelectListItem{Text = "20", Value = "20"},
                new SelectListItem{Text = "30", Value = "30"}
            })
            <br />
            <button type="submit">TestPerformance</button>
        }
        <br />

    </body>
    </html>*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peformance analyzer</title>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <h3>Urls to response time table</h3>
    <input type="text" class="form-control" />
    <br />
    <button class="btn btn-sm btn-primary" (click)="getResponseModels('http://steampay.com/')">Get reponse time for sitemap" </button>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Url from sitemap</td>
                <td>Response time</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r for PerformanceResponseModel">
                <td>{{r?.url}}</td>
                <td>{{r?.responseTime}}</td>
            </tr>
        </tbody>
    </table>
    <script src="dist/polyfills.js"></script>
    <script src="dist/app.js"></script>
</body>
</html>