<h3>Urls to response time table</h3>
<input type="text" class="form-control" [(ngModel)]="requestModel.url" />
<br />
<button class="btn btn-sm btn-primary" (click)="getResponseModels()">Analyze sitemaps for {{url}}</button>
<table  class="table table-striped">
    <thead>
        <tr>
            <td>Url from sitemap</td>
            <td>Response time</td>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let response of responses">
    <!--<tr *ngIf="tableMode; else hello" *ngFor="let response of responses">-->
        <td>{{response?.url}}</td>
        <td>{{response?.responseTime}}</td>
    </tr>
    </tbody>
</table>
<ng-template #hello>
    <label>Hello string</label>
</ng-template>
